.divbg {
	background-color: black;
	max-height: 800px;

}

.selectindilist {
	max-height:500px;
	overflow:auto;
	max-width: 500px;
}

#index-build-tree {
	margin-top: 20px;
	background-color: white;
}

button.index-highlighted {
	background-color: rgb(124, 88, 236);
	color: white;
	transition: background-color 0.1s, color 0.1s;
}
.index-search {
	max-width: 500px;
}

button.selected{
	background-color: rgb(124, 88, 236);
	color: white;
}

.container {
	margin-top: 150px;
}